{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
Достижения | ФК Аегис
{% endblock %}

    {% block css %}
    <link href="{% static 'main/css/achiev.css' %}" rel="stylesheet">
    {% endblock %}

  {% block content %}

  <div class="border-honours"></div>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img class="d-block mx-lg-auto img-fluid" width="300" src="{% static 'main/img/HonoursAE/test_honour.png' %}">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Уличный футбол ЮФЛ</h1>
        <p class="lead">
            Аегис в первом же официальном турнире взяла трофей,
            что является невероятным началом команды в развитии.
        </p>
        <p class="lead">
            29.05.2021 - 25.07.2021
        </p>
      </div>
    </div>
  </div>
  <div class="border-honours"></div>
{% endblock %}