{% extends 'main/layout.html' %}

{% block title %}
История основания | ФК Аегис
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center" style="margin-top: 20px;">История</h2>
        <p>Мы любительская команда Аегис</p>
    </div>

    <div class="container">
        <div class="myTexts">
          Как-то собрались 5 друзей поиграть в футбол, встретили дедушку,
          которому понравилась наша игра, и решил нас пригласить поиграть против команды.
          Мы согласились. Мы ту команду победили и дедушка решил нас звать на постоянной основе.
          Мы играли-играли, набирались опыта и заявились на юношеский турнир по футболу и победили его.
          Интересно, что ждёт этой команде в будущем?
        </div>

{% endblock %}
