{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
Главная страница | ФК Аегис
{% endblock %}

  {% block css %}
    <link href="{% static 'main/css/home.css' %}" rel="stylesheet">
  {% endblock %}

  {% block content %}
<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img width="100%" height="100%" src="{% static 'main/img/HomeAE/Обложка1.jpg' %}">
        </div>
        <div class="carousel-item">
          <img width="100%" height="100%" src="{% static 'main/img/HomeAE/shop_img.jpg' %}">
          <div class="container">
            <div class="carousel-caption textCarousel">
              <h1>Клубный магазин</h1>
              <p>Вы можете приобрести в магазине мерч ФК Аегис</p>
              <p><a class="btn btn-lg btn-secondary" href="{% url 'shop' %}">Магазин</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img width="100%" height="100%" src="{% static 'main/img/HomeAE/Обложка3.jpg' %}">
          <div class="container">
            <div class="carousel-caption text-end textCarousel">
              <h1>Подпишись!</h1>
              <p>Следите за новостями в нашей группе во ВКонтакте.</p>
              <p><a class="btn btn-lg btn-primary" href="https://vk.com/fc.aegis">Перейти</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
    
    <div class="container marketing">
      <h3 class="text-center" style="margin-bottom: 50px;">Основатели Аегиса</h3>
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <a class="creators" href="https://vk.com/davzakaryan">
          <img class="bd-placeholder-img rounded-circle" src="{% static 'main/img/HomeAE/David.jpg' %}" width="140" height="140">
          <h2 class="fw-normal">Давид Закарян</h2>          
        </a>
        </div>
        <div class="col-lg-4 col-md-4">
          <a class="creators" href="https://vk.com/supremex3000">
          <img class="bd-placeholder-img rounded-circle" src="{% static 'main/img/HomeAE/Sergey.jpg' %}" width="140" height="140">
          <h2 class="fw-normal">Сергей Павлов</h2>    
        </a>      
        </div>
        <div class="col-lg-4 col-md-4">
          <a class="creators" href="https://vk.com/johnblec">
          <img class="bd-placeholder-img rounded-circle" src="{% static 'main/img/HomeAE/Pavel.jpg' %}" width="140" height="140">
          <h2 class="fw-normal">Павел Сафин</h2>  
        </a>        
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 creators">
          <a class="creators" href="https://vk.com/id142459382">
          <img class="bd-placeholder-img rounded-circle" src="{% static 'main/img/HomeAE/Mikayel.jpg' %}" width="140" height="140">
           <h2 class="fw-normal">Микаел Нуроян</h2>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 creators">
          <a class="creators" href="https://vk.com/lensy_boy">
          <img class="bd-placeholder-img rounded-circle" src="{% static 'main/img/HomeAE/Leonid.jpg' %}" width="140" height="140">
          <h2 class="fw-normal">Леонид Кармашов</h2>         
        </a>
        </div>
      </div>

  </main>
{% endblock %}
