{% extends 'main/layout.html' %}
{% load main_tags %}
{% load static %}

{% block title %}
{{ mtch.home_team.name }} - {{ mtch.away_team.name }} | ФК Аегис
{% endblock %}

  {% block css %}
    <link href="{% static 'main/css/stats_match.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/players.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/carusel.css' %}" rel="stylesheet">
  {% endblock %}

{% block content %}

<div class="scoreboard">
  <div class="scoreboard__container">
    <div class="scoreboard__basics mb-05">
      <span id="timebar" class="label">
        {% if trans.end %}
        Конец матча
        {% else %}
        {% if trans.start_2 %}
        
        {% else %}
        {% if trans.pause %}
        Перерыв
        {% else %}
        {% if trans.start_1 %}

        {% else %}
        {{ mtch.date }}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
      </span>
      <span class="text-danger">
   
      </span>
    </div>
    <div class="scoreboard__teams">
      <div class="scoreboard__team scoreboard__team--align-right mr-2">
        <div class="scoreboard__badge ml-1">
          <img src="{{ mtch.home_team.logo.url }}" alt="{{ mtch.home_team.name }}"/>
        </div>
        <span class="scoreboard__name">{{ mtch.home_team.name }}</span>
      </div>
      <div class="scoreboard__result">
        <span class="scoreboard__result-home">
          {% if mtch.home_goals is not None %}
          {{ mtch.home_goals }}
          {% else %}
          -
          {% endif %}
        </span>
        <span class="scoreboard__result-separator">:</span>
        <span class="scoreboard__result-home">
          {% if mtch.away_goals is not None %}
          {{ mtch.away_goals }}
          {% else %}
          -
          {% endif %}
        </span>
      </div>
      <div class="scoreboard__team scoreboard__team--align-left ml-2">
        <div class="scoreboard__badge mr-1">
          <img src="{{ mtch.away_team.logo.url }}" alt="{{ mtch.away_team.name }}" />
        </div>
        <span class="scoreboard__name">{{ mtch.away_team.name }}</span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <nav>
    <div class="nav nav-tabs scoreboard__nav" id="nav-tab" role="tablist">
      <a class="nav-item scoreboard__nav-el active" id="nav-live-tab" data-bs-toggle="tab" href="#nav-live" role="tab" aria-controls="nav-live" aria-selected="true">События</a>
      <a class="nav-item scoreboard__nav-el" id="nav-stats-tab" data-bs-toggle="tab" href="#nav-stats" role="tab" aria-controls="nav-stats" aria-selected="false">Состав</a>
    </div>
  </nav>
  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-live" role="tabpanel" aria-labelledby="nav-live-tab">
      <div class="timeline">
        <div id="chat-log" class="outer">
          <div class="card goal-card">
            <div class="info">
              <h3 class="title">ГОЛ!</h3>
              <p>Павлов оформляет дубль!</p>
            </div>
          </div>
          <div class="card goal-card">
            <div class="info">
              <h3 class="title">ГОЛ!</h3>
              <p>Чечин забивает второй гол команды!</p>
            </div>
          </div>
          <div class="card comm-card">
            <div class="info">
              <h3 class="title">&#x1f4ac;</h3>
              <p>Сегодня Павлов показывает невероятную игру!</p>
            </div>
          </div>
          <div class="card goal-card">
            <div class="info">
              <h3 class="title">ГОЛ!</h3>
              <p>Дебютный гол Полякова!</p>
            </div>
          </div>
          <div style="margin-left: -25px;">23</div>
          <div class="card goal-card">
            <div class="info">
              <h3 class="title">ГОЛ!</h3>
              <p>Мяч в сетке, благодоря удару Павлова.</p>
            </div>
          </div>
          <div class="card sub-card">
            <div class="info">
              <h3 class="title">&#11136; ЗАМЕНА</h3>
              <div style="line-height: 3em;">Сергей Павлов<img style="float: right" src="{% static 'main/img/MatchStatsAE/green-left.png' %}" height="50px"></div>
              <div style="line-height: 3em;">Давид Закарян<img style="float: right" src="{% static 'main/img/MatchStatsAE/red-right.png' %}" height="50px"></div>
            </div>
          </div>
        </div>
      </div>
      {% if request.user.is_superuser %}
      {% if trans.end %}
      <input id="chat-message-input" type="text" size="100"><br>
      <label for="type-event">Выбирите тип события:</label>
        <select id="type-event">
          <option value="goal-aeg">Гол наших</option>
          <option value="goal-eny">Гол соперника</option>
          <option value="sub">Замена</option>
          <option value="moment">Момент</option>
        </select>
      <input id="chat-message-submit" type="button" value="Send">   
      {% else %}
      {% if trans.start_2 %}
      Матч закончен!<br>
      <input id="end-submit" type="button" value="Конец"><br>  
      <input id="chat-message-input" type="text" size="100"><br>
      <label for="type-event">Выбирите тип события:</label>
        <select id="type-event">
          <option value="goal-aeg">Гол наших</option>
          <option value="goal-eny">Гол соперника</option>
          <option value="sub">Замена</option>
          <option value="moment">Момент</option>
        </select>
      <input id="chat-message-submit" type="button" value="Send">   
      {% else %}
      {% if trans.pause %}
      Начать второй тайм<br>
      <input id="start-2-submit" type="button" value="Начать"><br>  
      <input id="chat-message-input" type="text" size="100"><br>
      <label for="type-event">Выбирите тип события:</label>
        <select id="type-event">
          <option value="goal-aeg">Гол наших</option>
          <option value="goal-eny">Гол соперника</option>
          <option value="sub">Замена</option>
          <option value="moment">Момент</option>
        </select>
      <input id="chat-message-submit" type="button" value="Send">   
      {% else %}
      {% if trans.start_1 %}
      Первый тайм закончен!<br>
      <input id="pause-submit" type="button" value="Перерыв"><br>  
      <input id="chat-message-input" type="text" size="100"><br>
      <label for="type-event">Выбирите тип события:</label>
        <select id="type-event">
          <option value="goal-aeg">Гол наших</option>
          <option value="goal-eny">Гол соперника</option>
          <option value="sub">Замена</option>
          <option value="moment">Момент</option>
        </select>
      <input id="chat-message-submit" type="button" value="Send">   
      {% else %}
      Хотите начать трансляцию?<br>
      <input id="start-1-submit" type="button" value="Начать"><br>
      {% endif %}
      {% endif %}
      {% endif %}
      {% endif %}
      {% endif %}
    </div>
    <div class="tab-pane fade" id="nav-stats" role="tabpanel" aria-labelledby="nav-stats-tab">
      <div id="container">
        <div id="slider-container">
          <span onclick="slideRight()" class="btn"></span>
            <div id="slider">
              {% for scr in scr %}
              <div class="slide">           
                <a href="{% url 'details_player' scr.player.slug %}">
                  <div class="profile-card-2">
                  {% if scr.player.photo == NULL %}
                    <img class="img-fluid mx-auto d-block" src="{% static 'main/img/PlayersAE/NoPhoto.png' %}" alt="...">
                  {% else %}
                  <img class="img-fluid mx-auto d-block" src="{{ scr.player.photo.url }}" alt="...">
                  {% endif %}
                  <div class="profile-name"> {{ scr.player.number }} {{ scr.player.last_name }}</div>
                </a>
                </div>               
              </div>
              {% endfor %}
          </div>
          <span onclick="slideLeft()" class="btn"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<input id="chat-message-input" type="text" style="display: none;">
<input id="chat-message-submit" type="button" style="display: none;">
<input id="start-1-submit" type="button" style="display: none;">
<input id="pause-submit" type="button" style="display: none;">
<input id="start-2-submit" type="button" style="display: none;">
<input id="end-submit" type="button" style="display: none;">

<script>
var container = document.getElementById('container')
var slider = document.getElementById('slider');
var slides = document.getElementsByClassName('slide').length;
var buttons = document.getElementsByClassName('btn');


var currentPosition = 0;
var currentMargin = 0;
var slidesPerPage = 0;
var slidesCount = slides - slidesPerPage;
var containerWidth = container.offsetWidth;
var prevKeyActive = false;
var nextKeyActive = true;

window.addEventListener("resize", checkWidth);

function checkWidth() {
    containerWidth = container.offsetWidth;
    setParams(containerWidth);
}

function setParams(w) {
    if (w < 551) {
        slidesPerPage = 1;
    } else {
        if (w < 901) {
            slidesPerPage = 2;
        } else {
            if (w < 1101) {
                slidesPerPage = 3;
            } else {
                slidesPerPage = 4;
            }
        }
    }
    slidesCount = slides - slidesPerPage;
    if (currentPosition > slidesCount) {
        currentPosition -= slidesPerPage;
    };
    currentMargin = - currentPosition * (100 / slidesPerPage);
    slider.style.marginLeft = currentMargin + '%';
    if (currentPosition > 0) {
        buttons[0].classList.remove('inactive');
    }
    if (currentPosition < slidesCount) {
        buttons[1].classList.remove('inactive');
    }
    if (currentPosition >= slidesCount) {
        buttons[1].classList.add('inactive');
    }
}

setParams();

function slideRight() {
    if (currentPosition != 0) {
        slider.style.marginLeft = currentMargin + (100 / slidesPerPage) + '%';
        currentMargin += (100 / slidesPerPage);
        currentPosition--;
    };
    if (currentPosition === 0) {
        buttons[0].classList.add('inactive');
    }
    if (currentPosition < slidesCount) {
        buttons[1].classList.remove('inactive');
    }
};

function slideLeft() {
    if (currentPosition != slidesCount) {
        slider.style.marginLeft = currentMargin - (100 / slidesPerPage) + '%';
        currentMargin -= (100 / slidesPerPage);
        currentPosition++;
    };
    if (currentPosition == slidesCount) {
        buttons[1].classList.add('inactive');
    }
    if (currentPosition > 0) {
        buttons[0].classList.remove('inactive');
    }
};
</script>

<script src="{% static 'main/js/reconnecting-websocket.js' %}"></script>
<script>
    var username = {{ username }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/match/live/');

    chatSocket.onopen = function(e) {
      fetchMessages();
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'events') {
          for (let i=0; i<data['events'].length; i++) {
            createMessage(data['events'][i]);
          }
        } else if (data['command'] === 'new_event'){
          createMessage(data['event']);
        } else if (data['command'] === 'refresh'){
          refresh_time(data['time']);
        } else if (data['command'] === 'change'){
          location.reload();
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.getElementById('chat-message-input');
        var event = messageInputDom.value;
        var type_event = document.querySelector('select').value;
        chatSocket.send(JSON.stringify({
            'command': 'new_event',
            'event': event,
            'from': username,
            'type_event': type_event,
            'match': '{{ mtch.id }}'
        }));

        messageInputDom.value = '';
    };

    document.querySelector('#start-1-submit').onclick = function(e) {
      var datetime = time_now();
      chatSocket.send(JSON.stringify({
            'command': 'start_trans',
            'half-time': 1,
            'start_time': datetime,
            'match': '{{ mtch.id }}'
      }));
    }

    document.querySelector('#pause-submit').onclick = function(e) {
      var datetime = time_now();
      chatSocket.send(JSON.stringify({
            'command': 'pause',
            'pause_time': datetime,
            'match': '{{ mtch.id }}'
      }));
    }

    document.querySelector('#start-2-submit').onclick = function(e) {
      var datetime = time_now();
      chatSocket.send(JSON.stringify({
            'command': 'start_trans',
            'half-time': 2,
            'start_time': datetime,
            'match': '{{ mtch.id }}'
      }));
    }

    document.querySelector('#end-submit').onclick = function(e) {
      var datetime = time_now();
      chatSocket.send(JSON.stringify({
            'command': 'end_trans',
            'end_time': datetime,
            'match': '{{ mtch.id }}'
      }));
    }

    function fetchMessages() {
      chatSocket.send(JSON.stringify({'command': 'fetch_event',  'id': '{{ mtch.id }}'}));
    }

    function createMessage(data) {
      var card = document.createElement('div');
      var info = document.createElement('div');
      var title = document.createElement('h3');
      var content = document.createElement('p');
      info.className = 'info';
      title.className = 'title';
      content.textContent = data.content;    

      switch (data.type) {
        case 'goal-aeg':
          card.className = 'card goal-card';
          title.textContent = 'Гол!'
          break;
        case 'moment':
          card.className = 'card comm-card';
          title.textContent = '💬';
        break;
      
        default:
          break;
      }

      card.appendChild(info);
      info.appendChild(title);
      info.appendChild(content);
      document.querySelector('#chat-log').prepend(card);
    }

    function refresh_time(time){
      var bar = document.getElementById('timebar');
      bar.textContent = time
    }

    function time_now(){
      var date = new Date();
      var Hour = date.getHours();
      var Minutes = date.getMinutes();
      var Seconds = date.getSeconds();
      datetime = Hour+':'+Minutes+':'+Seconds;
      return datetime;
    }

    if ({{ timer }}) {
      setInterval(() => {
        var datetime = time_now();
        chatSocket.send(JSON.stringify({'command': 'refresh_time', 'match': '{{ mtch.id }}', 'now': datetime}));
      }, 1000);
    }


</script>
{% endblock %}