{% extends 'main/layout.html' %}
{% load main_tags %}
{% load static %}

{% block title %}
{{ mtch.home_team.name }} - {{ mtch.away_team.name }} | ФК Аегис
{% endblock %}

  {% block css %}
    <link href="{% static 'main/css/stats_match.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/players.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/carusel.css' %}" rel="stylesheet">
  {% endblock %}

{% block content %}

<div class="scoreboard">
  <div class="scoreboard__container">
    <div class="scoreboard__basics mb-05">
      <div id="timebar" class="label">
        {% if trans.end %}
        Конец матча
        {% else %}
        {% if trans.start_2 %}

        {% else %}
        {% if trans.pause %}
        Перерыв
        {% else %}
        {% if trans.start_1 %}

        {% else %}
        {{ mtch.date }}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
      </div>
      {% if trans.end %}
        {% else %}
        {% if trans.start_2 %}
          <div class="loader-3">
            <div class="item-1"></div>
            <div class="item-2"></div>
            <div class="item-3"></div>
            <div class="item-4"></div>
            <div class="item-5"></div>
          </div>
        {% else %}
        {% if trans.pause %}
        {% else %}
        {% if trans.start_1 %}
          <div class="loader-3">
            <div class="item-1"></div>
            <div class="item-2"></div>
            <div class="item-3"></div>
            <div class="item-4"></div>
            <div class="item-5"></div>
          </div>

        {% else %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
      <span class="text-danger">
   
      </span>
    </div>
    <div class="scoreboard__teams">
      <div class="scoreboard__team scoreboard__team--align-right mr-2">
        <div class="scoreboard__badge ml-1">
          <img src="{{ mtch.home_team.logo.url }}" alt="{{ mtch.home_team.name }}"/>
        </div>
        <span class="scoreboard__name">{{ mtch.home_team.name }}</span>
      </div>
      <div class="scoreboard__result">
        <span id="home" class="scoreboard__result-home">
          {% if mtch.home_goals is not None %}
          {{ mtch.home_goals }}
          {% else %}
          -
          {% endif %}
        </span>
        <span class="scoreboard__result-separator">:</span>
        <span id="away" class="scoreboard__result-home">
          {% if mtch.away_goals is not None %}
          {{ mtch.away_goals }}
          {% else %}
          -
          {% endif %}
        </span>
      </div>
      <div class="scoreboard__team scoreboard__team--align-left ml-2">
        <div class="scoreboard__badge mr-1">
          <img src="{{ mtch.away_team.logo.url }}" alt="{{ mtch.away_team.name }}" />
        </div>
        <span class="scoreboard__name">{{ mtch.away_team.name }}</span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <nav>
    <div class="nav nav-tabs scoreboard__nav" id="nav-tab" role="tablist">
      <a class="nav-item scoreboard__nav-el active" id="nav-live-tab" data-bs-toggle="tab" href="#nav-live" role="tab" aria-controls="nav-live" aria-selected="true">События</a>
      <a class="nav-item scoreboard__nav-el" id="nav-stats-tab" data-bs-toggle="tab" href="#nav-stats" role="tab" aria-controls="nav-stats" aria-selected="false">Состав</a>
      {% if request.user.is_superuser %}
      <a class="nav-item scoreboard__nav-el" id="nav-editor-tab" data-bs-toggle="tab" href="#nav-editor" role="tab" aria-controls="nav-editor" aria-selected="false">Редактор</a>
      {% endif %}
    </div>
  </nav>
  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-live" role="tabpanel" aria-labelledby="nav-live-tab">
      {% if request.user.is_superuser %}
      {% if trans.end %}
      {% else %}
      {% if trans.start_2 %}
      Завершить матч<br>
      <input id="end-submit" type="button" class="btn btn-secondary" value="Конец"><br>  
      {% else %}
      {% if trans.pause %}
      Начать второй тайм<br>
      <input id="start-2-submit" type="button" class="btn btn-secondary" value="Начать"><br>  
      {% else %}
      {% if trans.start_1 %}
      Начать перерыв матча<br>
      <input id="pause-submit" type="button" class="btn btn-secondary" value="Перерыв">
      {% else %}
      Хотите начать трансляцию?<br>
      <input id="start-1-submit" type="button" class="btn btn-secondary" value="Начать"><br>
      {% endif %}
      {% endif %}
      {% endif %}
      {% endif %}
      <br>
      <div id="div-input" style="display: block;">
      Содержимое события:<br>
      <input id="event-input" class="form-control" type="text" size="50">
      </div>
      <label for="type-event">Выбирите тип события:</label>
        <select id="type-event" class="form-select">
          <option value="goal-aeg">Гол наших</option>
          <option value="goal-eny">Гол соперника</option>
          <option value="sub">Замена</option>
          <option value="moment">Момент</option>
        </select> 
        <div id="sub" style="display: none; margin: 10px;">
          Выходит на поле:<br>
          <select id="sub-in" class="form-select">
            {% for scr in scr %}
            <option value="{{ scr.player.first_name }} {{ scr.player.last_name }}">{{ scr.player.first_name }} {{ scr.player.last_name }}</option>
            {% endfor %}
          </select>
          Уходит с поля:<br>
          <select id="sub-out" class="form-select">
            {% for scr in scr %}
            <option value="{{ scr.player.first_name }} {{ scr.player.last_name }}">{{ scr.player.first_name }} {{ scr.player.last_name }}</option>
            {% endfor %}
          </select> 
        </div>
        <div id="goal" style="display: block; margin: 10px;">
          Автор гола<br>
          <select id="author" class="form-select">
            {% for scr in scr %}
            <option value="{{ scr.player.pk }}">{{ scr.player.first_name }} {{ scr.player.last_name }}</option>
            {% endfor %}
          </select>
        </div>
        <input id="event-submit" type="button" class="btn btn-secondary" style="float: right" value="Отправить"><br>
      {% endif %}
      <div class="timeline">
        <div id="match-log" class="outer">
          
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-stats" role="tabpanel" aria-labelledby="nav-stats-tab">
      <div id="container">
        {% if scr %}
        <div id="slider-container">
          <span onclick="slideRight()" class="btn"></span>
            <div id="slider">
              {% for scr in scr %}
              <div class="slide">           
                <a href="{% url 'details_player' scr.player.slug %}">
                  <div class="profile-card-2">
                   <img class="img-fluid mx-auto d-block" src="{{ scr.player.photo.url }}" alt="...">
                  <div class="profile-name"> {{ scr.player.number }} {{ scr.player.last_name }}</div>
                </div> 
                </a>
              </div>               
              {% endfor %}
            </div>
            <span onclick="slideLeft()" class="btn"></span>
          </div>
          {% else %}
          <div class="text-center">Данные отсутствуют</div>
          {% endif %}
      </div>
    </div>
      {% if request.user.is_superuser %}
      <div class="tab-pane fade" id="nav-editor" role="tabpanel" aria-labelledby="nav-editor-tab">
        <div class="d-flex justify-content-between">
          <a href="{% url 'upd_match' mtch.slug %}">
            <button class="SMbttn">Редактировать матч</button>
          </a>
          <a href="{% url 'editor_scoring' mtch.slug %}">
            <button class="SMbttn">Редактировать заявку и голы</button>
          </a>
          <a href="" class="linkM" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <button class="SMbttn">Удалить матч</button>
          </a>
        </div>
      </div>
      {% endif %}
    </div>
</div>

<input id="event-input" class="form-control" type="text" style="display: none;">
<input id="event-submit" type="button" class="btn btn-secondary" style="display: none;">
<input id="start-1-submit" type="button" class="btn btn-secondary" style="display: none;">
<input id="pause-submit" type="button" class="btn btn-secondary" style="display: none;">
<input id="start-2-submit" type="button" class="btn btn-secondary" style="display: none;">
<input id="end-submit" type="button" class="btn btn-secondary" style="display: none;">


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Внимание!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Вы точно хотите удалить матч?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button id="del" type="button" class="btn btn-danger">Удалить</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelector('#del').onclick = function(e) {
    location.replace("{% url 'del_match' mtch.slug %}")
    }
</script>

<script src="{% static 'main/js/carusel.js' %}"></script>

<script>
    var matchSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/match/live/');

    matchSocket.onopen = function(e) {
      fetchMessages();
    }

    matchSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'events') {
          for (let i=0; i<data['events'].length; i++) {
            createMessage(data['events'][i]);
          }
        } else if (data['command'] === 'new_event'){
          if (data['goal'] == 'home') {
            document.getElementById('home').innerHTML = data['goalsum'];
          } else if (data['goal'] == 'away') {
            document.getElementById('away').innerHTML = data['goalsum'];
          }
          createMessage(data['event']);
        } else if (data['command'] === 'refresh'){
          refresh_time(data['time']);
        } else if (data['command'] === 'change'){
          location.reload();
        }
    };

    matchSocket.onclose = function(e) {
        console.error('Matсh socket closed unexpectedly');
    };

    document.querySelector('#event-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#event-submit').click();
        }
    };

    document.querySelector('#event-submit').onclick = function(e) {
        var type_event = document.getElementById('type-event').value;  
        if (type_event == 'sub')
        var event = document.getElementById('sub-in').value + '-sub-' + document.getElementById('sub-out').value;
        else var event = document.getElementById('event-input').value; 
        var player = document.getElementById('author').value;
        var timebar = document.getElementById('timebar').innerHTML.trim();
        if (timebar.length > 4) {
          timebar = ' ';
        }

        matchSocket.send(JSON.stringify({
            'command': 'new_event',
            'event': event,
            'from': {{ username }},
            'type_event': type_event,
            'timestamp': timebar,
            'trans': '{{ trans.id }}',
            'player': player
        }));

        event.value = '';
    };

    document.querySelector('#start-1-submit').onclick = function(e) {
      var datetime = time_now();
      matchSocket.send(JSON.stringify({
            'command': 'start_trans',
            'half-time': 1,
            'start_time': datetime,
            'trans': '{{ trans.id }}'
      }));
    }

    document.querySelector('#pause-submit').onclick = function(e) {
      var datetime = time_now();
      matchSocket.send(JSON.stringify({
            'command': 'pause',
            'pause_time': datetime,
            'trans': '{{ trans.id }}'
      }));
    }

    document.querySelector('#start-2-submit').onclick = function(e) {
      var datetime = time_now();
      matchSocket.send(JSON.stringify({
            'command': 'start_trans',
            'half-time': 2,
            'start_time': datetime,
            'trans': '{{ trans.id }}'
      }));
    }

    document.querySelector('#end-submit').onclick = function(e) {
      var datetime = time_now();
      matchSocket.send(JSON.stringify({
            'command': 'end_trans',
            'end_time': datetime,
            'trans': '{{ trans.id }}'
      }));
    }

    function fetchMessages() {
      matchSocket.send(JSON.stringify({'command': 'fetch_event',  'id': '{{ trans.id }}'}));
    }

    function createMessage(data) {
      var time = document.createElement('div');
      var card = document.createElement('div');
      var info = document.createElement('div');
      var title = document.createElement('h3');
      var content = document.createElement('p');
      time.className = 'time';
      time.textContent = data.timestamp;
      info.className = 'info';
      title.className = 'title';

      card.appendChild(info);
      info.appendChild(title);

      switch (data.type) {
        case 'goal-aeg':
          card.className = 'card goal-aeg-card';
          title.textContent = 'Гооооооол!'
          content.textContent = data.content;
          info.appendChild(content); 
          break;
        case 'goal-eny':
          card.className = 'card goal-eny-card';
          title.textContent = 'Гол!'
          content.textContent = data.content;
          info.appendChild(content);
          break;  
        case 'moment':
          card.className = 'card comm-card';
          title.textContent = '💬';
          content.textContent = data.content;
          info.appendChild(content);
        break;
        case 'sub':
          var sub_in = document.createElement('div');
          var sub_out = document.createElement('div');
          var img_in = document.createElement('img');
          var img_out = document.createElement('img');
          card.className = 'card sub-card';
          sub_in.className = 'sub-player';
          sub_out.className = 'sub-player';
          img_in.className = 'sub-img';
          img_out.className = 'sub-img';
          img_in.src = "{% static 'main/img/MatchStatsAE/green-left.png' %}";
          img_out.src = "{% static 'main/img/MatchStatsAE/red-right.png' %}";
          title.textContent = '⮀ ЗАМЕНА';
          var sub_pl =  data.content.split('-sub-')
          sub_in.textContent = sub_pl[0];
          sub_out.textContent = sub_pl[1];
          info.appendChild(sub_in);
          info.appendChild(sub_out);
          sub_in.appendChild(img_in);
          sub_out.appendChild(img_out);
        break;
        default:
          break;
      }

      document.querySelector('#match-log').prepend(card);
      document.querySelector('#match-log').prepend(time);
    }

    function refresh_time(time){
      var bar = document.getElementById('timebar');
      bar.textContent = time + '\''
    }

    function time_now(){
      var date = new Date();
      var Hour = date.getHours();
      var Minutes = date.getMinutes();
      var Seconds = date.getSeconds();
      datetime = Hour+':'+Minutes+':'+Seconds;
      return datetime;
    }

    if ({{ timer }}) {
      setInterval(() => {
        var datetime = time_now();
        matchSocket.send(JSON.stringify({'command': 'refresh_time', 'trans': '{{ trans.id }}', 'now': datetime}));
      }, 1000);
    }

    document.getElementById('type-event').addEventListener('change', function(){
      let isSub = (this.options[this.selectedIndex].textContent == "Замена" );
      document.getElementById('sub').style.display = isSub ? "block" : "none";
      document.getElementById('div-input').style.display = isSub ? "none" : "block";
      let isGoal = (this.options[this.selectedIndex].textContent == "Гол наших" );
      document.getElementById('goal').style.display = isGoal ? "block" : "none";
    });
</script>
{% endblock %}