{% extends 'main/layout.html' %}
{% load main_tags %}
{% load static %}

{% block title %}
Результаты матчей | ФК Аегис
{% endblock %}

  {% block css %}
    <link href="{% static 'main/css/match.css' %}" rel="stylesheet">
  {% endblock %}

{% block content %}
<div class="container">
  <div>
    <h2 style="margin-top: 20px; padding: 20px;">Расписание матчей</h2>
  </div>
  <div style="border-top: 1px solid rgba(128, 128, 128, 0.26);">

    {% with "00" as numMonth %}
    {% for m in matches %}

    {% if numMonth == m.get_m_y %}
    <div class="match">
        {% if m.link_vk %}
  <a href="{{ m.link_vk }}" class="linkM">
      {% else %}
    <a href="" class="linkM" data-bs-toggle="modal" data-bs-target="#exampleModal">
      {% endif %}
  <div class="dateM"> {{ m.get_a_d_m }} </div>
  <div class="competition">
    <img src="{{ m.table.tournament.photo.url }}" alt="{{ m.table.tournament.name }}" width="40" height="40">
  </div>
  <div class="stage">
    <div class="">{{ m.stage }}</div>
  </div>
    <div class="teams">
        <div>{{ m.home_team.name }} - {{ m.away_team.name }}</div>
    </div>
    <div>{{ m.home_goals }}:{{ m.away_goals }}</div>
  </a>
  </div>
    {% else %}
    {% appropriation m.get_m_y as numMonth %}
     <div class="borderM"></div>
    <h4 class="hMonth">{{ numMonth }}</h4>
    <div class="match">
      {% if m.link_vk %}
  <a href="{{ m.link_vk }}" class="linkM">
      {% else %}
    <a href="" class="linkM" data-bs-toggle="modal" data-bs-target="#exampleModal">
      {% endif %}
  <div class="dateM"> {{ m.get_a_d_m }} </div>
  <div class="competition">
    <img src="{{ m.table.tournament.photo.url }}" alt="{{ m.table.tournament.name }}" width="40" height="40">
  </div>
  <div class="stage">
    <div class="">{{ m.stage }}</div>
  </div>
    <div class="teams">
        <div>{{ m.home_team.name }} - {{ m.away_team.name }}</div>
    </div>
    <div>{{ m.home_goals }}:{{ m.away_goals }}</div>
  </a>
  </div>

    {% endif %}
    {% endfor %}
    {% endwith %}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Внимание!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Данные матча отсутствуют!
      </div>
    </div>
  </div>
</div>

</div>
</div>
{% endblock %}
