{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
{{ news.title }} | ФК Аегис
{% endblock %}

{% block css %}
    <link href="{% static 'main/css/one_news.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/news_mini.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container border-bottom">
        <p class="text-center title" style="margin-top: 20px; margin-bottom: 30px">{{ news.title }}</p>
        <img class="shadow rounded mx-auto d-block"  height="500px"  src="{{ news.img.url }}">
    
    <div class="news-block">
      <p class="publisher">Автор поста: {{ news.publisher }}</p>
        <p class="datetime">{{ news.date_time }}</p> 
        
        <div class="border-top" style="margin-bottom: 20px;"></div>
        <p style="white-space: pre-wrap;">{{ news.content }}</p>
    </div>

    </div>

    <div class="text-center" style="margin-top: 20px;"><h2>Последние новости</h2></div>
    <div class="container">   
        <div class="row" style="margin-top: 20px;">
          {% for n in three_news %}
          <div class="col">
            <a href="{% url 'news' n.slug %}">
                  <div class="card shadow-sm nw-block">         
                      <img class="rounded-1" width="100%" height="225px"  src="{{ n.img.url }}">
                  
                  <a style="text-decoration:none" href="{% url 'news' n.slug %}">
                    
                  <div class="card-body">
                    <p class="card-text title-mini">{{ n.title }}</p>
                    <div class="position-absolute bottom-0 end-0 datetime-mini">
                      <p>{{ n.date_time }}</p>
                    </div>
                  </div>
                </a>  
              </div>           
            </a>
          </div>
          {% endfor %} 
    </div>
    </div>
{% endblock %}
