{% load static %}
<!doctype html>
<html>
  <head>
    <title>Отправка почты | ФК Аегис</title>
    <link rel="shortcut icon" href="{% static 'main/img/AegisICO.ico' %}" type="image/x-icon">
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/signin.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    
<main class="form-signin w-100 m-auto">
    <img class="mb-4" src="{% static 'main/img/Aegis_Logo.png' %}" alt="" width="90" height="90">
    <h1 class="h3 mb-3 fw-normal">Вы успешно изменили пароль</h1>
    <a href="{% url 'singIn' %}">
      <button class="w-100 btn btn-lg btn-secondary" type="submit">Вернуться к авторизации</button>
    </a>
</main>

  </body>
</html>
