{% extends 'main/layout.html' %}
{% load main_tags %}
{% load static %}

{% block title %}
{{ mtch.home_team.name }} - {{ mtch.away_team.name }} | ФК Аегис
{% endblock %}

  {% block css %}
    <link href="{% static 'main/css/stats_match.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/players.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/carusel.css' %}" rel="stylesheet">
  {% endblock %}

{% block content %}

<div class="scoreboard">
  <div class="scoreboard__container">
    <div class="scoreboard__basics mb-05">
      <span class="label">
        Конец матча
      </span>
      <span class="text-danger">
   
      </span>
    </div>
    <div class="scoreboard__teams">
      <div class="scoreboard__team scoreboard__team--align-right mr-2">
        <div class="scoreboard__badge ml-1">
          <img src="{{ mtch.home_team.logo.url }}" alt="{{ mtch.home_team.name }}"/>
        </div>
        <span class="scoreboard__name">{{ mtch.home_team.name }}</span>
      </div>
      <div class="scoreboard__result">
        <span class="scoreboard__result-home">
          {% if mtch.home_goals is not None %}
          {{ mtch.home_goals }}
          {% else %}
          -
          {% endif %}
        </span>
        <span class="scoreboard__result-separator">:</span>
        <span class="scoreboard__result-home">
          {% if mtch.away_goals is not None %}
          {{ mtch.away_goals }}
          {% else %}
          -
          {% endif %}
        </span>
      </div>
      <div class="scoreboard__team scoreboard__team--align-left ml-2">
        <div class="scoreboard__badge mr-1">
          <img src="{{ mtch.away_team.logo.url }}" alt="{{ mtch.away_team.name }}" />
        </div>
        <span class="scoreboard__name">{{ mtch.away_team.name }}</span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <nav>
    <div class="nav nav-tabs scoreboard__nav" id="nav-tab" role="tablist">
      <a class="nav-item scoreboard__nav-el active" id="nav-live-tab" data-bs-toggle="tab" href="#nav-live" role="tab" aria-controls="nav-live" aria-selected="true">События</a>
      <a class="nav-item scoreboard__nav-el" id="nav-stats-tab" data-bs-toggle="tab" href="#nav-stats" role="tab" aria-controls="nav-stats" aria-selected="false">Состав</a>
      {% if request.user.is_superuser %}
      <a class="nav-item scoreboard__nav-el" id="nav-editor-tab" data-bs-toggle="tab" href="#nav-editor" role="tab" aria-controls="nav-editor" aria-selected="false">Редактор</a>
      {% endif %}
    </div>
  </nav>
  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-live" role="tabpanel" aria-labelledby="nav-live-tab">
      <div class="timeline">
        {% if mtch_vt %}
        <div class="outer">
          
          {% for ev in mtch_vt %}
            {% if ev.type == 'goal-aeg' %}
            <div class="card goal-card">
              <div class="info">
                <h3 class="title">ГОЛ!</h3>
                <p>{{ ev.content }}</p>
              </div>
            </div>
            {% endif %}
            {% if ev.type == 'moment' %}
            <div class="card comm-card">
              <div class="info">
                <h3 class="title">&#x1f4ac;</h3>
                <p>{{ ev.content }}</p>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
        {% else %}
        <div class="text-center">Данные отсутствуют</div>
        {% endif %}
      </div>
    </div>
    <div class="tab-pane fade" id="nav-stats" role="tabpanel" aria-labelledby="nav-stats-tab">
      <div id="container">
        {% if scr %}
        <div id="slider-container">
          <span onclick="slideRight()" class="btn"></span>
            <div id="slider">
              {% for scr in scr %}
              <div class="slide">           
                <a href="{% url 'details_player' scr.player.slug %}">
                  <div class="profile-card-2">
                  <img class="img-fluid mx-auto d-block" src="{{ scr.player.photo.url }}" alt="...">
                  <div class="profile-name"> {{ scr.player.number }} {{ scr.player.last_name }}</div>
                </div> 
                </a>
              </div>               
              {% endfor %}
            </div>
          
          <span onclick="slideLeft()" class="btn"></span>
        </div>
          {% else %}
          <div class="text-center">Данные отсутствуют</div>
          {% endif %}
      </div>
    </div>
      {% if request.user.is_superuser %}
      <div class="tab-pane fade" id="nav-editor" role="tabpanel" aria-labelledby="nav-editor-tab">
        <div class="d-flex justify-content-between">
          <a href="{% url 'upd_match' mtch.slug %}">
            <button class="SMbttn">Редактировать матч</button>
          </a>
          <a href="{% url 'editor_scoring' mtch.slug %}">
            <button class="SMbttn">Редактировать заявку и голы</button>
          </a>
          <a href="" class="linkM" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <button class="SMbttn">Удалить матч</button>
          </a>
        </div>
      </div>
      {% endif %}
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Внимание!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Вы точно хотите удалить матч?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button id="del" type="button" class="btn btn-danger">Удалить</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelector('#del').onclick = function(e) {
    location.replace("{% url 'del_match' mtch.slug %}")
    }
</script>

<script src="{% static 'main/js/carusel.js' %}"></script>
{% endblock %}