{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
Редактирование | ФК Аегис
{% endblock %}

  {% block css %}
    <link href="{% static 'main/css/add_new.css' %}" rel="stylesheet">
  {% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center" style="margin-top: 20px; margin-bottom: 30px">Редактирование</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for f in form %}
            <p>
            <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
             {% endfor %}
        <button type="submit" class="form-button">Изменить</button>
        </form>
    </div>

{% endblock %}
