.namekit, .order {
    font: small-caps bold 25px/1 sans-serif;
    color: rgba(0, 0, 0, 0.884);
}

.place {
    font: small-caps 10px/1 sans-serif;
}

.form-floating {
    font: small-caps bold 17px/1 sans-serif;
}

.form-num {
    text-align: left;
}

.price {
    font: small-caps bold 20px/1 sans-serif;
    color: rgba(0, 0, 0, 0.884);
}

.bttn {
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    font: small-caps bold 20px/1 sans-serif;
}

.bttn:hover {
    background-color: rgba(255, 255, 255, 0.479);
}