.nw {
    color: rgba(0, 0, 0, 0.884);
    text-decoration:none;
}

.nw:hover {
    transform:scale(1.02);
    transition: 0.1s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.news-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.datetime {
    padding: 5px;
    color: gray;
}

.title {
    font: small-caps bold 25px/1 sans-serif;
    color: rgba(0, 0, 0, 0.884);
    text-decoration:none;
}

.short-desc {
    margin-top: 10px;
    color: #000;
    text-decoration:none;
}

.short-desc:hover {
    color: #000;
}

.Nbttn {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    font: small-caps bold 20px/1 sans-serif;
}

.Nbttn:hover {
    background-color: rgba(255, 255, 255, 0.479);
}