.nw-block {
    color: rgba(0, 0, 0, 0.884);
    text-decoration:none;
    min-height: 380px;
}

.nw-block:hover {
    transform:scale(1.02);
    transition: 0.1s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.title-mini {
    font: small-caps bold 28px/1 sans-serif;
    color: rgba(0, 0, 0, 0.884);
    text-decoration:none;
}

.datetime-mini {
    padding: 5px;
    color: gray;
    margin-right: 5px;
}