.L {
    background: red;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    padding: 0.9%;
}

.L:hover {
    color: white;
}

.D {
    background: gray;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    padding: 2px;
}

.D:hover {
    color: white;
}

.W {
    background: green;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    padding: 1.58%;
}

.W:hover {
    color: white;
}

.play-off {
    background: linear-gradient(90deg,#838383,rgb(240, 240, 240));
}

.headt {
    color: black;
}

.tAegis {
    font-weight: bold;
}

.borderM {
    background: linear-gradient(90deg,#000000,rgb(143, 143, 143));
    height: 10px;
    margin: 20px 0px;
    margin-top: 50px;
    margin-bottom: 30px;
}